<form name="form" ng-controller="FormAdvertController as app" layout="column" ng-submit="form.$valid && app.submitAdvert($event)">
    <div class="formadvert">
        <div id="content">

            <div layout-gt-sm="row">
    
                <md-input-container class="md-block" flex-gt-sm>
                    <md-icon md-font-library="material-icons" class="person">person</md-icon>
                    <input ng-model="app.data.name.first" type="text" placeholder="Firstname" ng-required="true">
                </md-input-container>
    
                <md-input-container class="md-icon-float md-block" flex-gt-sm>
                    <md-icon md-svg-icon="blank"></md-icon>
                    <input ng-model="app.data.name.last" type="text" placeholder="Lastname" ng-required="true">
                </md-input-container>
    
            </div>
    
            <div layout-gt-sm="row">
    
                <md-input-container class="md-block" flex-gt-sm>
                  <!-- Use floating placeholder instead of label -->
                  <md-icon md-font-library="material-icons" class="email">email</md-icon>
                  <input ng-model="app.data.email" type="email" placeholder="Email" ng-required="true">
                </md-input-container>
    
                <md-input-container class="md-icon-float md-block" flex-gt-sm>
                  <md-icon md-font-library="material-icons" class="phone">phone</md-icon>
                  <input ng-model="app.data.phone" type="text" placeholder="Phone Number">
                </md-input-container>
    
            </div>

        </div>
        <div id="content">
    
            <div layout-gt-sm="row">
    
                <md-input-container class="md-block" flex-gt-sm>
                    <md-icon md-font-library="material-icons" class="address" style="display:inline-block;">place</md-icon>
                    <input ng-model="app.data.address.street" type="text" placeholder="Address" ng-required="true">
                </md-input-container>
    
                <md-input-container class="md-icon-float md-block" flex-gt-sm>
                    <md-icon md-svg-icon="blank"></md-icon>
                    <input ng-model="app.data.address.city" type="text" placeholder="City" ng-required="true">
                </md-input-container>
    
            </div>
    
        </div>
        <div id="content">

            <md-input-container class="md-block">
                <textarea ng-model="app.data.description" type="text" placeholder="Description" ng-required="true" rows="2"></textarea>
            </md-input-container>
        
        </div>
    </div>

    <md-button type="submit" class="md-fab md-fab-bottom-right" aria-label="submit" ng-if="form.$valid">
        <md-icon md-font-set="material-icons">send</md-icon>
    </md-button>

    <md-button type="button" class="md-fab md-fab-bottom-right" aria-label="back" ng-click="app.back()" ng-if="!form.$valid">
        <md-icon md-font-set="material-icons">arrow_back</md-icon>
    </md-button>

</form>