<div ng-controller="FormAdvertController as app" layout="column" layout-padding ng-cloak>
    <br/>
    <md-content class="formadvert">

        <md-input-container class="md-icon-float md-block">
          <!-- Use floating label instead of placeholder -->
          <md-icon md-font-library="material-icons" class="person">person</md-icon>
          <input ng-model="app.user.name" type="text" placeholder="Name" ng-required="true">
        </md-input-container>

        <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm>
              <!-- Use floating placeholder instead of label -->
              <md-icon md-font-library="material-icons" class="email">email</md-icon>
              <input ng-model="app.user.email" type="email" placeholder="Email" ng-required="true">
            </md-input-container>

            <md-input-container class="md-icon-float md-block" flex-gt-sm>
              <md-icon md-font-library="material-icons" class="phone">phone</md-icon>
              <input ng-model="app.user.phone" type="text" placeholder="Phone Number">
            </md-input-container>

        </div>
        
        <md-input-container md-no-float class="md-block">
          <md-icon md-font-library="material-icons" class="address" style="display:inline-block;">place</md-icon>
          <input ng-model="app.user.address" type="text" class="address" placeholder="Address" ng-required="true">
        </md-input-container>
        
        <md-input-container md-no-float class="md-block">
          <input ng-model="app.user.description" type="text" class="description" placeholder="Description" ng-required="true">
        </md-input-container>
    
    </md-content>

        <md-button class="md-fab md-fab-bottom-right" ng-click="app.submitAdvert($event)" aria-label="submit">
            <md-icon md-font-set="material-icons">send</md-icon>
        </md-button>

</div>