<div layout-gt-sm="row">

    <md-input-container class="md-icon-float md-block" flex="25">
        <mdp-date-picker mdp-open-on-click required id="dateFrom" ng-model="add.data.contract.dateFrom" mdp-placeholder="{{'ADVERT_FORM_CREATE_CONTRACT_DATE_FROM' | translate}}" mdp-format="DD/MM/YYYY"></mdp-date-picker>
    </md-input-container>
<!--
</div>

<div layout-gt-sm="row">
-->
    <md-input-container class="md-icon-float md-block" flex="25">
        <mdp-time-picker mdp-open-on-click mdp-auto-switch="true" required id="houreFrom" ng-model="add.data.contract.dateFrom" mdp-placeholder="{{'ADVERT_FORM_CREATE_CONTRACT_TIME_FROM' | translate}}" mdp-format="HH:mm"></mdp-time-picker>
    </md-input-container>

    <md-input-container class="md-icon-float md-block" flex="25">
        <mdp-time-picker mdp-open-on-click mdp-auto-switch="true" required id="houreTo" ng-model="add.data.contract.dateTo" mdp-placeholder="{{'ADVERT_FORM_CREATE_CONTRACT_TIME_TO' | translate}}" mdp-format="HH:mm"></mdp-time-picker>
    </md-input-container>

</div>

<div layout-gt-sm="row">

    <md-input-container class="md-icon-float md-block" flex="25">
    </md-input-container>

    <md-input-container class="md-icon-float md-block" flex="50">
        <div layout="column">
            <div layout="row">
                <div flex="20" layout="row" layout-align="start center"><p>
                    {{'ADVERT_FORM_CREATE_CONTRACT_MONTDAY' | translate}}
                </p></div>
                <md-input-container flex="15" class="contract-time-from-monday">
                    <!--<input id="houreFrom" mdp-format="hh:mm" ng-click="app.showTimePicker($event, app.data.contract, 'houreFrom')" ng-model="app.data.contract.houreFrom" mdp-auto-switch="true" required/>-->
                    <mdp-time-picker name="houreFrom" ng-model="app.data.contract.houreFrom" mdp-auto-switch="true" mdp-open-on-click required>
                    </mdp-time-picker>
                </md-input-container>
                <md-input-container flex="15" class="contract-time-to-monday"><input type="time" id="houreTo" ng-model="add.data.contract.dateTo" mdp-time-picker mdp-auto-switch="true" mdp-open-on-click required/></md-input-container>
            </div>
            <div layout="row">
                <div flex="20" layout="row" layout-align="start center"><p>
                    {{'ADVERT_FORM_CREATE_CONTRACT_MONTDAY' | translate}}
                </p></div>
                <md-input-container flex="15" class="contract-time-from-monday"><input type="time" id="houreFrom" ng-model="add.data.contract.dateFrom" mdp-time-picker mdp-auto-switch="true" mdp-open-on-click required/></md-input-container>
                <md-input-container flex="15" class="contract-time-to-monday"><input type="time" id="houreTo" ng-model="add.data.contract.dateTo" mdp-time-picker mdp-auto-switch="true" mdp-open-on-click required/></md-input-container>
            </div>
            <div layout="row">
                <div flex="20" layout="row" layout-align="start center"><p>
                    {{'ADVERT_FORM_CREATE_CONTRACT_TUESDAY' | translate}}
                </p></div>
                <md-input-container flex="15" class="contract-time-from-tuesday"><input type="time" id="houreFrom" ng-model="add.data.contract.dateFrom" mdp-time-picker mdp-auto-switch="true" mdp-open-on-click required/></md-input-container>
                <md-input-container flex="15" class="contract-time-to-tuesday"><input type="time" id="houreTo" ng-model="add.data.contract.dateTo" mdp-time-picker mdp-auto-switch="true" mdp-open-on-click required/></md-input-container>
            </div>
            <div layout="row">
                <div flex="20" layout="row" layout-align="start center"><p>
                    {{'ADVERT_FORM_CREATE_CONTRACT_WEDNESDAY' | translate}}
                </p></div>
                <md-input-container flex="15" class="contract-time-from-wednesday"><input type="time" id="houreFrom" ng-model="add.data.contract.dateFrom" mdp-time-picker mdp-auto-switch="true" mdp-open-on-click required/></md-input-container>
                <md-input-container flex="15" class="contract-time-to-wednesday"><input type="time" id="houreTo" ng-model="add.data.contract.dateTo" mdp-time-picker mdp-auto-switch="true" mdp-open-on-click required/></md-input-container>
            </div>
            <div layout="row">
                <div flex="20" layout="row" layout-align="start center"><p>
                    {{'ADVERT_FORM_CREATE_CONTRACT_THURSDAY' | translate}}
                </p></div>
                <md-input-container flex="15" class="contract-time-from-thursday"><input type="time" id="houreFrom" ng-model="add.data.contract.dateFrom" mdp-time-picker mdp-auto-switch="true" mdp-open-on-click required/></md-input-container>
                <md-input-container flex="15" class="contract-time-to-thursday"><input type="time" id="houreTo" ng-model="add.data.contract.dateTo" mdp-time-picker mdp-auto-switch="true" mdp-open-on-click required/></md-input-container>
            </div>
            <div layout="row">
                <div flex="20" layout="row" layout-align="start center"><p>
                        {{'ADVERT_FORM_CREATE_CONTRACT_FRIDAY' | translate}}
                </p></div>
                <md-input-container flex="15" class="contract-time-from-friday"><input type="time" id="houreFrom" ng-model="add.data.contract.dateFrom" mdp-time-picker mdp-auto-switch="true" mdp-open-on-click required/></md-input-container>
                <md-input-container flex="15" class="contract-time-to-friday"><input type="time" id="houreTo" ng-model="add.data.contract.dateTo" mdp-time-picker mdp-auto-switch="true" mdp-open-on-click required/></md-input-container>
            </div>
            <div layout="row">
                <div flex="20" layout="row" layout-align="start center"><p>
                    {{'ADVERT_FORM_CREATE_CONTRACT_SATURDAY' | translate}}
                </p></div>
                <md-input-container flex="15" class="contract-time-from-saturday"><input type="time" id="houreFrom" ng-model="add.data.contract.dateFrom" mdp-time-picker mdp-auto-switch="true" mdp-open-on-click required/></md-input-container>
                <md-input-container flex="15" class="contract-time-to-saturday"><input type="time" id="houreTo" ng-model="add.data.contract.dateTo" mdp-time-picker mdp-auto-switch="true" mdp-open-on-click required/></md-input-container>
            </div>
            <div layout="row">
                <div flex="20" layout="row" layout-align="start center"><p>
                    {{'ADVERT_FORM_CREATE_CONTRACT_SUNDAY' | translate}}
                </p></div>
                <md-input-container flex="15" class="contract-time-from-sunday"><input type="time" id="houreFrom" ng-model="add.data.contract.dateFrom" mdp-time-picker mdp-auto-switch="true" mdp-open-on-click required/></md-input-container>
                <md-input-container flex="15" class="contract-time-to-sunday"><input type="time" id="houreTo" ng-model="add.data.contract.dateTo" mdp-time-picker mdp-auto-switch="true" mdp-open-on-click required/></md-input-container>
            </div>
        </div>
    </md-input-container>
</div>