<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>Angular Material - Side Nav</title>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link rel="stylesheet" href="./jspm_packages/github/angular/bower-material@master/angular-material.css"/>
  <link rel="stylesheet" href="./jspm_packages/github/dpoetzsch/md-pickers@1.1.0/dist/mdPickers.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" href="./assets/SideNav.css"/>
  <link rel="stylesheet" href="./assets/FormAdvert.css"/>
  <!-- http://v4-alpha.getbootstrap.com/getting-started/introduction/ -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>

<body ng-cloak layout="row" ng-controller="SideNavController as app" class="tabsdemoStaticTabs">
  <md-sidenav layout="column" class="md-whiteframe-4dp sidenav1" md-component-id="left" md-is-locked-open="false">
    <user-card name="User name"></user-card>
    <md-button class="md-primary" ng-click="app.link()">{{'SIDENAV_TOOLBAR_TAB_LINK' | translate}}</md-button>
    <md-button class="md-primary" href="index.html">SideNav</md-button>
  </md-sidenav>

  <md-content flex layout="column">
      <md-toolbar layout="row" class="md-accent">
        <home-button-toolbar selected-index="app.navigationService.data.selectedIndex"></home-button-toolbar>
        <md-tabs ng-if="false" flex layout="column" md-selected="app.navigationService.data.selectedIndex" md-align-tabs="{{app.data.bottom ? 'bottom' : 'top'}}">
          <md-tab id="tab1">
            <md-tab-label>{{'SIDENAV_TOOLBAR_TAB_LINK' | translate}}</md-tab-label>
          </md-tab>
          <md-tab id="tab2">
            <md-tab-label>{{'SIDENAV_TOOLBAR_TAB_SEARCH' | translate}}</md-tab-label>
          </md-tab>
          <md-tab id="tab3" md-on-select="app.onSelectTabAdd(tab)">
            <md-tab-label>{{'SIDENAV_TOOLBAR_TAB_ADD' | translate}}</md-tab-label>
          </md-tab>
        </md-tabs>
      </md-toolbar>

      <ng-switch on="app.navigationService.data.selectedIndex" class="tabpanel-container">
    	<div class="switch-show-hide" role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0"><!--md-swipe-left="app.next()" md-swipe-right="app.previous()"-->
    	  <md-content ng-include="'SideNav_1.html'"></md-content>
    	</div>
    	<div class="switch-show-hide" role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1"><!--md-swipe-left="app.next()" md-swipe-right="app.previous()"-->
            <md-content ng-include="'Search.html'"></md-content>
            <md-button class="md-fab md-fab-bottom-right" ng-click="app.addAdvert($event)" aria-label="Add">
                <md-icon md-font-set="material-icons">add</md-icon>
            </md-button>
    	</div>
    	<div class="switch-show-hide" role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2"><!--md-swipe-left="app.next()" md-swipe-right="app.previous()"-->
    	  <md-content ng-include="'FormAdvert.html'"></md-content>
    	</div>
      </ng-switch>
  </md-content>

    <!-- http://v4-alpha.getbootstrap.com/getting-started/introduction/ -->
<!--
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
-->

  <script src="./jspm_packages/system.js" type="text/javascript"></script>
  <script src="config.js" type="text/javascript"></script>
<!--  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>-->
<script type="text/javascript" src="jspm_packages/npm/moment@2.18.1/moment.js"></script>

  <script type="text/javascript">
    System
        .import('src/sidenav')
        .catch( console.error.bind(console) ); // make sure any errors print to console
  </script>
</body>

</html>