<div layout="column" class="citation" layout-align="center center">
<div layout="row">
<div layout="row" layout-align="start start">
    <i class="icon-quote-left icon-1x citation-quote"></i>
</div>
<p class="citation-message">
    {{$ctrlCitation.getCitation().message | translate}}
</p>
<div layout="row" layout-align="end end">
    <i class="icon-quote-right icon-1x citation-quote"></i>
</div>
</div>
<div layout="row" layout-align="end end" class="citation-author">
    {{$ctrlCitation.getCitation().author | translate}}
</div>
</div>