<!-- NOTE: @see ngClick for how to pass data selection to outside expression -->
<md-list layout="column">
    <md-list-item ng-repeat="advert in $ctrl.advertList | filter:$ctrl.searchText" ng-click="$ctrl.onSelectAdvert(advert)">
        <md-button ng-click="$ctrl.onSelectAdvert({advert:advert})" ng-class="{'selected' : advert === $ctrl.advertSelected }" layout="row">
            <md-icon md-font-library="material-icons">person</md-icon>
            <!--md-icon md-svg-icon="{{advert.avatar}}"></md-icon-->
            <div layout="row">
                <h4>{{advert.name.first}} {{advert.name.last}}</h4>
                <div>{{advert.address.street}}, {{advert.address.city | uppercase}}</div>
                <p flex>Username: holly123</p>
                <p>{{advert.description}}</p>
            </div>
<!--
            <md-content layout="row">
            </md-content>
-->
        </md-button>
    </md-list-item>
</md-list>