.SideNav {
    min-height: 48px;
}
.formadvert md-input-container:not(.md-input-invalid) > md-icon.email {
    color: green;
}
.formadvert md-input-container:not(.md-input-invalid) > md-icon.phone {
    color: #7e57c2;
}
.formadvert md-input-container:not(.md-input-invalid) > md-icon.person {
    color: dodgerblue;
}
.formadvert md-input-container:not(.md-input-invalid) > md-icon.address {
    color: #fbc02d;
}
.formadvert md-input-container.md-input-invalid > md-icon.email,
.formadvert md-input-container.md-input-invalid > md-icon.address,
.formadvert md-input-container.md-input-invalid > md-icon.person {
    color: red;
}