.SideNav {
    min-height: 48px;
}

.formadvert #content {
    /*border: 1px solid #dddddd;*/
    /*border-radius: 20px;*/
    padding: 15px;
    /*margin: 15px;*/
    background: white;
}

.formadvert #content md-input-container:not(.md-input-invalid) > md-icon.email {
    color: green;
}
.formadvert #content md-input-container:not(.md-input-invalid) > md-icon.phone {
    color: #7e57c2;
}
.formadvert #content md-input-container:not(.md-input-invalid) > md-icon.person {
    color: dodgerblue;
}
.formadvert #content md-input-container:not(.md-input-invalid) > md-icon.address {
    color: #fbc02d;
}
.formadvert #content md-input-container.md-input-invalid > md-icon.email,
.formadvert #content md-input-container.md-input-invalid > md-icon.address,
.formadvert #content md-input-container.md-input-invalid > md-icon.person {
    color: red;
}
.formadvert #content #person {
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}

.formadvert input,
.formadvert textarea {
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #666;
    border-radius: 4px;

    /** Encadrememnt **/
    /*border: 1px solid #ccc;*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);*/
    /*-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;*/
    /*-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
    /*transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
    /*border-color: #66afe9;*/
    /*outline: 0;*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);*/
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);*/
}

/**
 * mdPickers
 */
.formadvert md-input-container label {
    margin: 0px 0px 0px 6px;
}
.formadvert md-input-container {
    width: 100%;
}

.formadvert md-input-container .md-errors-spacer {
    min-height: 0px;
}

.formadvert 
md-input-container:not(.md-input-has-value) input:not(:focus), 
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-ampm-field, 
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-day-field,
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-hour-field, 
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-millisecond-field, 
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-minute-field, 
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-month-field, 
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-second-field, 
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-week-field, 
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-year-field, 
md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-text {
    color: #666;
}

.formadvert .contract-time-from-monday,
.formadvert .contract-time-from-tuesday,
.formadvert .contract-time-from-wednesday,
.formadvert .contract-time-from-thursday,
.formadvert .contract-time-from-friday,
.formadvert .contract-time-from-saturday,
.formadvert .contract-time-from-sunday,
.formadvert .contract-time-to-monday,
.formadvert .contract-time-to-tuesday,
.formadvert .contract-time-to-wednesday,
.formadvert .contract-time-to-thursday,
.formadvert .contract-time-to-friday,
.formadvert .contract-time-to-saturday,
.formadvert .contract-time-to-sunday {
    margin: 0px;
}

/*
.time-picker-no-icon mdp-time-picker md-input-container.md-has-icon,
.time-picker-no-icon mdp-time-picker .md-button.md-icon-button {
*/
.formadvert mdp-time-picker md-input-container.md-has-icon,
.formadvert mdp-time-picker .md-button.md-icon-button {
    height: 0px;
    width: 0px;
    min-width: 0px;
    min-height: 0px;
    line-height: 0px;
    padding: 0px;
    margin: 0px;
}
/*
.time-picker-no-icon md-icon {
    height: 0px;
    width: 0px;
    min-height: 0px;
    min-width: 0px;
}

.time-picker-no-icon mdp-time-picker.md-button.md-icon-button
,
mdp-time-picker .md-button.md-icon-button
{
    margin: 0px;
    width: 0px;
    height: 0px;
    padding: 0px;
}

.time-picker-no-icon button {
    height: 0px;
    width: 0px;
    min-width: 0px;
    min-height: 0px;
    line-height: 0px;
    padding: 0px;
    margin: 0px;
}
*/

/**
 * Form Advert Citation
 */
.formadvert #citation {
    height:100px;
}

/**
 * Citation
 */
.citation {
    width: 100%;
    text-align: center;
}
.citation-message {
    font-family: museo-slab,Georgia,"Times New Roman",Times,serif;
/*    font-family: "libesansweb-semicondensed",sans-serif;*/
    font-size: 20px;
    color: #777;
}
.citation-author {
/*    font-family: museo-slab,Georgia,"Times New Roman",Times,serif;*/
    font-family: "libesansweb-semicondensed",sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #777;
    width: 100%;
}
.citation-quote {
    color: #444;
}